%h1= "#{current_user.name}'s Followers'"
%h3= "Number of Followers: #{current_user.followers}"
%ul
  -@presenter.followers.each do |follower|
    %li{id: "follower-#{follower.id}"}
      =link_to follower.login, follower.url
