%h1= "#{current_user.name}'s Favorite Users'"
%h3= "Number of Favorite Users: #{current_user.following}"

%ul
  -@presenter.fave_users.each do |user|
    %li{id: "user-#{user.id}"}
      =link_to "@#{user.login}", user.url

